<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695297658587-m0anmvll63mt75f49c9rdgio8rr9abkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695297658587-m0anmvll63mt75f49c9rdgio8rr9abkn</string>
	<key>API_KEY</key>
	<string>AIzaSyBHfIf7OpgBiQ1K76Qu6YmL1l9pfoUEXSk</string>
	<key>GCM_SENDER_ID</key>
	<string>695297658587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.jaimonga420.todoGet</string>
	<key>PROJECT_ID</key>
	<string>todo-get-420</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-get-420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695297658587:ios:c7eb0b62c69294577886fe</string>
</dict>
</plist>